body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
    font-size: 25px;
}

p {
    font-size: 20px;
}

span {
    font-size: 20px;
}

input[type=submit] {
    padding: 4px 20px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}