<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to fazbook</h1>
    <a href='/users/new'>Create a new fazbook</a>
    <% users.forEach(function(user) { %>
      <div>
      <!-- link to users page specific to user name clicked on -->
      <a href="<%= '/users/' + user.id%>"><%= user.firstName %></a>
      <!-- this is where the magic happens -->
      <form action="<%= '/users/' + user.id + '?_method=DELETE' %>" method="POST">
      <input type="submit" value="DELETE">
      </form>
      </div>
   <% }) %>
  </body>
</html>
